footer{
    padding: 50px 100px 20px;
    background-color: #fafaff;
    margin-top: 70px;

}

footer .footer-description p {
    font-size: 13px;
    color: #989bac;
    font-family: 'Karla', sans-serif;
    line-height: 1.8;
    margin-bottom: 20px;
    text-align: left;
}

footer .footer-description .list{
    margin-bottom: 5px;
}

footer .footer-copyright {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

footer .footer-copyright span{
    font-size: 12px;
    font-family: 'Karla', sans-serif;
    color: #989bac;
}
@media screen and (max-width: 1024px) and (min-width: 821px){
    footer{
       width: 1120px;
    
    }
}

@media screen and (max-width: 820px){
    footer{
        padding: 20px 20px 20px;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        margin-top: 30px;
    }

    footer .footer-description{
        width: 590px;
    }

    footer .footer-copyright{
        margin-top: 10px;
        width: 340px;
    }
}

@media screen and (max-width: 420px){
    footer{
        padding: 30px 20px 20px;
        background-color: hsl(228, 100%, 98%);
        margin-top: 70px;
    
    }
    footer .footer-description{
        width: 310px;
    }

    footer .footer-copyright{
        margin-top: 10px;
        width: 340px;
    }
}